<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <img src="/img/logo-mercado-liebre.svg" alt="">
        <h1>Lugar para poner la barra de búsqueda</h1>
        <h2>Comprá en cuotas y sin tarjeta de crédito</h2>
        <ul>
            <li>Ofertas</li>
            <li>Tiendas Oficiales</li>
            <li>Vender</li>
            <li>Ayuda</li>
        </ul>
        <ul>
            <li>Creá tu cuenta</li>
            <li>Ingresá</li>
            <li>Mis compras</li>
        </ul>
    </header>
    
    <main>
        <section>

            <h2>Sección: Basado en tu última visita</h2>

            <img src="/img/img-cafetera-moulinex.jpg" alt="">
            <p>$6.770</p>
            <p>40% OFF</p>
            <h1>Cafetera Moulinex</h1>

            <img src="/img/img-macbook-pro-2019.jpg" alt="">
            <p>$230.000</p>
            <p>20% OFF</p>
            <h1>MacBook Pro 2019</h1>

            <img src="/img/img-samsung-galaxy-s10.jpg" alt="">
            <p>$70.500</p>
            <p>10% OFF</p>
            <h1>Samsung Galaxy S10</h1>

            <img src="/img/img-tv-samsung-smart.jpg" alt="">
            <p>$23.200</p>
            <p>5% OFF</p>
            <h1>SmartTv Samsung 43"</h1>

            <h2>Sección de Ofertas</h2>

            <img src="/img/img-cafetera-moulinex.jpg" alt="">
            <p>$6.770</p>
            <p>40% OFF</p>
            <h1>Cafetera Moulinex</h1>

            <img src="/img/img-macbook-pro-2019.jpg" alt="">
            <p>$230.000</p>
            <p>20% OFF</p>
            <h1>MacBook Pro 2019</h1>

            <img src="/img/img-samsung-galaxy-s10.jpg" alt="">
            <p>$70.500</p>
            <p>10% OFF</p>
            <h1>Samsung Galaxy S10</h1>

            <img src="/img/img-tv-samsung-smart.jpg" alt="">
            <p>$23.200</p>
            <p>5% OFF</p>
            <h1>SmartTv Samsung 43"</h1>

       
        </section>
    </main>

    <footer>
        <section>
                <h2>Pagá con tarjeta o en efectivo</h2>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
                
                <h2>Envío gratis desde $ 2.500</h2>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
                
                <h2>Seguridad, de principio a fin</h2>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>

                <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </section>
    </footer>
</body>
</html>